/* Estilo geral do contêiner do formulário e da imagem */
.form-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

/* Estilo do formulário */
.form {
    flex: 1;
}

/* Estilo do contêiner de imagem */
.image-placeholder {
    width: 250px; /* Ajuste a largura conforme necessário */
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo da imagem dentro do contêiner */
.image-placeholder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Estilos adicionais para o formulário */
form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, .salvar-btn {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.salvar-btn {
    background-color: #ffa500;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.salvar-btn:hover {
    background-color: #ff8c00;
}
