<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acomodações da Pousada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acomodacoes.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Acomodações da Pousada{% endblock %}

    {% block content %}
    <div class="container">
        <header>
            <h1>Acomodações</h1>
        </header>

        <section class="accommodation">
            <!-- Acomodação: Domo -->
            <div class="accommodation-item">
                <img src="{{ url_for('static', filename='images/domo2.jpeg') }}" alt="Domo">
                <div class="details">
                    <h2>Domo</h2>
                    <ul>
                        <li>Camas: 1 Casal</li>
                    </ul>
                    <div class="icons">
                        <span>❄️</span>
                        <span>📶</span>
                        <span>📺</span>
                        <span>🍷</span>
                        <span>🍴</span>
                    </div>
                    <div class="price">A partir de <strong>R$150</strong></div>
                    <a href="{{ url_for('cadastro_reserva') }}" class="btn-control-panel">Cadastro de Reserva</a>
                </div>
            </div>

            <!-- Acomodação: Charrua -->
            <div class="accommodation-item">
                <img src="{{ url_for('static', filename='images/charrua.jpeg') }}" alt="Charrua (Bus)">
                <div class="details">
                    <h2>Charrua (Bus)</h2>
                    <ul>
                        <li>Camas: 1 Casal</li>
                    </ul>
                    <div class="icons">
                        <span>❄️</span>
                        <span>📶</span>
                        <span>📺</span>
                        <span>🍷</span>
                        <span>🍴</span>
                    </div>
                    <div class="price">A partir de <strong>R$190</strong></div>
                    <a href="{{ url_for('cadastro_reserva') }}" class="btn-control-panel">Cadastro de Reserva</a>
                </div>
            </div>

            <div class="accommodation-item">
                <img src="{{ url_for('static', filename='images/chale_familia.jpg') }}" alt="Chalé Família">
                <div class="details">
                    <h2>Chalé Família</h2>
                    <ul>
                        <li>Camas: 1 Casal</li>
                        <li>Camas: 3 Solteiro</li>
                    </ul>
                    <div class="icons">
                        <span>❄️</span>
                        <span>📶</span>
                        <span>📺</span>
                        <span>🍷</span>
                        <span>🍴</span>
                    </div>
                    <div class="price">A partir de <strong>R$290</strong></div>
                    <a href="{{ url_for('cadastro_reserva') }}" class="btn-control-panel">Cadastro de Reserva</a>
                </div>
            </div>

            <div class="accommodation-item">
                <img src="{{ url_for('static', filename='images/cabana1.jpeg') }}" alt="Cabana">
                <div class="details">
                    <h2>Cabana</h2>
                    <ul>
                        <li>Camas: 1 Casal</li>
                    </ul>
                    <div class="icons">
                        <span>❄️</span>
                        <span>📶</span>
                        <span>📺</span>
                        <span>🍷</span>
                        <span>🍴</span>
                    </div>
                    <div class="price">A partir de <strong>R$290</strong></div>
                    <a href="{{ url_for('cadastro_reserva') }}" class="btn-control-panel">Cadastro de Reserva</a>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
</body>
</html>
