<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Financeiro do Funcionário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/area_finan_funcionario.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Olá, Laura! </h2>
            <div class="info">
                <p><strong>Cargo:</strong> Recepcionista</p>
                <p><strong>Matrícula:</strong> 1009900</p>
                <p>Colaborador desde Agosto, 2015.</p>
                <p><strong>Eventos:</strong></p>
                <div class="event-box">
                    <p>2 Fazem aniversário esse mês</p>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="grid">
                <div class="grid-item">Solicitações</div>
                <div class="grid-item">Demonstrativos</div>
                <div class="grid-item">Espelho de Ponto</div>
                <div class="grid-item">Benefícios</div>
            </div>
        </div>
    </div>
</body>
</html>
