<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Hóspedes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hospede.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <li><a href="home.html"><i class="fas fa-chart-line"></i> voltar para home</a></li>
</head>
<body>
    <div class="container">
        {% extends "base.html" %}
        {% block title %}Lista de Hóspedes{% endblock %}

        {% block content %}

        <a href="{{ url_for('cadastro') }}" class="add-link">Adicionar Novo Hóspede</a>
        
        <h1>Lista de Hóspedes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Data de Nascimento</th>
                    <th>Data de Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for hospede in hospedes %}
                    <tr>
                        <td>{{ hospede['nome'] }}</td>
                        <td>{{ hospede['cpf'] }}</td>
                        <td>{{ hospede['telefone'] }}</td>
                        <td>{{ hospede['email'] }}</td>
                        <td>{{ hospede['data_nascimento'] | datetimeformat }}</td>
                        <td>{{ hospede['data_registro'] | datetimeformat }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
          <a href="{{ url_for('cadastro') }}" class="add-link">Adicionar Novo Hóspede</a>
          {% endblock %}

    </div>
</body>
</html>
