<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pousada Quinta do Ypuã</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <div class="login-container">
        <div class="login-header">
            <img src="{{ url_for('static', filename='images/logo-pousada-quinta-do-ypua.webp') }}" alt="Logotipo da Pousada" class="logo">
            <h1>Sistema de Gerenciamento - Pousada Quinta do Ypuã</h1>
        </div>

        <form action="{{ url_for('login') }}" method="POST" class="login-form">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" required placeholder="Digite seu usuário ou email">

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required placeholder="Digite sua senha">
            <div class="forgot-password">

                <a href="">Esqueceu sua senha?</a>
            </div>
            
            <button type="submit" class="login-button">Entrar</button>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="error-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>

        <footer class="login-footer">
            <p>Suporte: <a href="mailto:suporte@pousada.com">suporte@pousada.com</a></p>
            <p>Versão 1.0.0</p>
        </footer>
    </div>

</body>
</html>
