<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reservas.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

</head>
<body>
    {% extends "base.html" %}

    {% block title %}Reservas{% endblock %}
    
    {% block content %}

    <h1>Listagem de Reservas</h1>

    <!-- Botão para adicionar nova reserva -->
    <a href="{{ url_for('cadastro_reserva') }}" class="button">Adicionar Reserva</a>
    
    <!-- Filtros de Busca (Opcional) -->
    <form method="GET" action="{{ url_for('listar_reservas') }}" class="filter-form">
        <label for="nome">Nome do Hóspede:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="data_entrada">Data de Entrada:</label>
        <input type="date" id="data_entrada" name="data_entrada">
        
        
        <button type="submit">Filtrar</button>
    </form>
    
    <!-- Tabela de Reservas -->
    <table>
        <thead>
            <tr>
                <th>Código da Reserva</th>
                <th>Código do Hóspede</th>
                <th>Nome</th>
                <th>Id da Acomodação</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Valor Total</th>
                <th>Data da Reserva</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id_reserva }}</td>
                <td>{{ reserva.id_hospede }}</td>
                <td>{{ reserva.nome_hospede }}</td>
                <td>{{ reserva.id_acomodacao}}</td>
                <td>{{ reserva.data_checkin | datetimeformat }}</td>
                <td>{{ reserva.data_checkout | datetimeformat }}</td>
                <td>{{ reserva.valor_total }}</td>
                <td>{{ reserva.data_reserva | datetimeformat }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}

</html>
