* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fundo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333; /* Texto padrão escuro */
}

.form-container {
    background-color: #ffffff; /* Fundo branco do formulário */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 2px solid #b71c1c; /* Borda vermelha forte */
}

h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #b71c1c; /* Título em vermelho forte */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333; /* Texto dos labels em preto */
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc; /* Borda cinza suave */
    border-radius: 4px;
    background-color: #fefefe; /* Fundo claro */
    color: #333; /* Texto escuro */
}

input:focus {
    outline: none;
    border-color: #ac4343; /* Realce vermelho forte no foco */
}

button {
    padding: 12px;
    font-size: 16px;
    background-color: #b71c1c; /* Botão com fundo vermelho forte */
    color: #fff; /* Texto branco */
    border: 2px solid #b71c1c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: #ff0000; /* Vermelho mais escuro no hover */
}

button:active {
    transform: scale(0.98); /* Efeito de clique */
}

