<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Hóspedes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/hospede.css') }}">
</head>
<body>
    <h1>Lista de Hóspedes</h1>
    <ul>
        {% for hospede in hospedes %}
            <li>
                Nome: {{ hospede['nome'] }} - CPF: {{ hospede['cpf'] }} - Telefone: {{ hospede['telefone'] }} - 
                Email: {{ hospede['email'] }} - Data de Nascimento: {{ hospede['data_nascimento'] }} - 
                Data de Registro: {{ hospede['data_registro'] }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('cadastro') }}">Adicionar Novo Hóspede</a>
</body>
</html>
